bitsandbytes==0.43.0
tensorboard
tensorflow>=2.16.1
onnxruntime-gpu==1.17.1
-r requirements.txt
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability